<div class=" grafica">
     <!-- [view]="view"  agregar esa etiqueta para que tome el tamaño fijo especificado en el
    comoponente.ts-->
    <ngx-charts-pie-chart 
    
    [scheme]="colorScheme" [results]="single" [gradient]="gradient" [legend]="showLegend"
        [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
        legendTitle="Aceptacion Encuesta" (select)="onSelect($event)" (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-pie-chart>
</div>