<div class="container" id="infpdf">
    <div class="row justify-content-center ">
        <div class="col-xm-12 col-md-10 col-lg-5  ruleta">
            <app-ruleta></app-ruleta>
        </div>
        <div class="col-xm-12 col-md-10 col-lg-7 tarjetas">
            <app-tarjetas></app-tarjetas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 lineas">
            <app-lineas></app-lineas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 torta">
            <app-torta></app-torta>
        </div>
        <div class="col-md-7 barras">
            <app-barras></app-barras>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-barras-agrupadas></app-barras-agrupadas>
        </div>
        <div class="col-md-6">
            <app-timecalls></app-timecalls>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 circulos">
            <app-circulos></app-circulos>
        </div>
    </div>
</div>


<!--<app-revolucion></app-revolucion>-->